beautifulsoup4==4.9.3
certifi==2021.5.30
charset-normalizer==2.0.3
geograpy3==0.1.29
idna==3.2
numpy==1.21.1
requests==2.26.0
soupsieve==2.2.1
tqdm==4.61.2
urllib3==1.26.6
gensim==4.0.1
spacy==3.1.1
streamlit==0.86.0
plotly==5.2.1